{% extends 'base.html' %}
{% load user_filters %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="{% url 'shortener:index' %}" method="post" novalidate>
        {% csrf_token %}
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Длинная ссылка</th>
            <th scope="col">Короткая ссылка</th>
            <th scope="col">is public?</th>
          </tr>
          </thead>
          <tbody>
          {% for url in object_list %}
            <tr>
              <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
              <td><input type="text" readonly class="form-control-plaintext" id="long" value="{{ url.long }}"></td>
              <td><input type="text" readonly class="form-control-plaintext" id="short" value="{{ url.short }}"></td>
              <td>
                <input class="form-check-input" type="checkbox" value="" id="is_public"
                    {% if  url.short == True %}
                       checked
                    {% endif %}>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
      {% include 'paginator.html' %}
    </div>
  </div>
{% endblock %}
