{% extends 'base.html' %}
{% load user_filters %}
{% block content %}
  <script type="text/javascript">
      function myfunction(id) {
          document.getElementById("my_form_" + id).submit();
      }
  </script>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Длинная ссылка</th>
          <th scope="col">Короткая ссылка</th>
          <th scope="col">Публичная ссылка?</th>
        </tr>
        </thead>
        <tbody>
        {% for url in object_list %}
          <form id="my_form_{{ url.pk }}" action="{% url 'shortener:update' url.pk %}" method="post" novalidate>
            <tr>
              {% csrf_token %}
              <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>

              <td><input type="text" readonly class="form-control-plaintext" name="long" value="{{ url.long }}"></td>
              <td><input type="text" readonly class="form-control-plaintext" name="short" value="{{ url.short }}"></td>
              <td>
                <input class="form-check-input" type="checkbox" name="is_public"
                    {% if  url.is_public == True %}
                       checked
                    {% endif %}
                onchange="myfunction({{ url.pk }})"
                >
              </td>
            </tr>
          </form>
        {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' %}
    </div>
  </div>
{% endblock %}
